@charset "utf-8";
body {
    font: 18px/1.8 Lato;
    background-color: #42413C;
    color: #000;
    margin: 0 5%;
}

.row {
    margin: 0;
}

ul,
ol,
dl {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karla';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

a img {
    border: none;
}

a:link,
a:visited {
    color: #0B486B;
}

#container {
    background-color: #fff;
    background-image: url('images/symphony.png');
}

nav {
    clear: left;
    float: left;
}

nav ul {
    list-style: none;
}

nav ul li {
    background-color: rgba(255, 255, 255, 0.80);
    margin-bottom: 0.3rem;
    font-size: 1.6rem;
}

nav ul a:link,
nav ul a:visited {
    padding: .5rem .5rem .5rem 1.5rem;
    display: block;
    width: 100%;
    color: #666;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    background-color: #666;
    color: #FFF;
}

.navbar{
    width: 100%;
    height: 10rem;
}

.navbar-brand {
  background: url('images/kkk.png') left / contain no-repeat;
  width: 85%;  
  height: 10rem;
  overflow: hidden;    
}

.navbar-toggle{
    margin-top: 3rem;
    margin-right: -2rem;
}

#navbar-contents{
    margin-bottom: 2rem;
}

#main_article {
    float: left;
    background-color: #FFFFFF;
}

article h1 {
    font-size: 3.6rem;
}

article h2 {
    font-size: 2.4rem;
    margin-bottom: 0;
    color: #06b0c9;
}

aside h1 {
    font-size: 2.4rem;
}

#kitty_facts{
    float: left;
    background-color: rgba(255, 255, 255, 0.8);
    color: #666;
    padding: 0.5rem 0;
}

section {
    margin-bottom: 5.5rem;
}


footer {
    padding: 1rem 0;
    background-color: #42413C;
    clear: both;
    text-align: center;
    color: white;
}


.promise-container {
    height: 18.5rem;
    width: 18.5rem;
    border: 1px; 
    border-radius: 50%;
    background-color: #06b0c9;
    background-position: center;
    margin: auto;
}

.has-inline-elements {
    font-size: 0rem;
}

.promise {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-size: 1.8rem;
}

.fancybox img{
    padding: 0;
}

.fancybox-title {
    font: 18px/1.6 lato;
    text-align: center;
}

.rotate-img img {
    transform: rotate(-11deg);
    width: 80%;
    padding: 10%;
}

#gmap_container {
    overflow:hidden;
    height:50rem;
    width: 100%;
}

#gmap_canvas {
    height:100%;
    width:100%;
}

@media only screen and (max-width : 991px) {
    body {
        margin: 0;
    }
    
    li{
        display: inline-block;
        width: 33%;
    }
    
    .promise-grid {
        width: 33%;
        display: inline-block;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width : 767px) {    
    body {
        font-size: 16px;
        margin: 0;
    }
    
    li{
        width: 100%;
    }
    
    .promise-grid {
        width: 100%;
    }
}